<section>
    <div class="container">
        <div class="row">
            <h1>Estudios</h1>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Estudio 1</h1> - <h3>(years)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto dolor harum cumque consectetur sapiente aut eum ad perferendis iure distinctio voluptas, beatae rerum esse nam quaerat officia quae labore neque.</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h1>Estudio 2</h1> - <h3>(years)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto dolor harum cumque consectetur sapiente aut eum ad perferendis iure distinctio voluptas, beatae rerum esse nam quaerat officia quae labore neque.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

